body {
  background-color: #f8f9fa;
}

h2 {
  color: #343a40;
}

.table {
  margin-bottom: 0;
}

.pagination {
  margin-top: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 220px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

h2 {
  color: #343a40;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}


.login-container {
  width: 300px;
  margin: auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 0.5em;
}

.login-container input {
  margin-bottom: 1em;
  padding: 0.5em;
}

.error {
  color: red;
  text-align: center;
}

